#rightbar {
  flex: 1;
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 78px;
  height: 100%;
  .profileImage-wrapper {
    margin-right: 1rem;
  }
}

.chat-category {
  margin: 1rem 0;
  h3 {
    margin: 0.75rem 0;
  }
}
.chatItemWrapper {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  padding: 0.25rem;
  cursor: pointer;
  &:hover {
    background: #eeeeee;
    border-radius: 5px;
  }
  .profile-avatar {
    margin-right: 0;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
  }
  .chatGroupImage-wrapper {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 36px;
      height: 36px;
      padding: 0.5rem;
      margin-right: 0;
    }
  }
  .chatItem-name {
    font-weight: 500;
  }
}

.divider {
  height: 1px;
  border-top: 1px solid rgb(190, 190, 190);
  margin: 0.25rem 0;
}
.MuiBadge-dot {
  background: rgb(65, 194, 65);
}
